<html>
  <head>
    <link rel="stylesheet" href="css/roundabout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/info_source.css" type="text/css" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.githubwidget.min.js"></script>
    <script type="text/javascript" src="js/jquery.roundabout.min.js"></script>
    <script type="text/javascript" src="js/jquery.roundabout-shapes.min.js"></script>
    <script type="text/javascript" src="js/homepage.js"></script>
    <title>Agnieszka Figiel</title>
  </head>
  <body>
    <%= info_boxes %>
  </body>
</html>
