<html>
  <head>
    <link rel="stylesheet" href="css/roundabout.css" type="text/css" media="screen" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.githubwidget.min.js"></script>
    <script type="text/javascript" src="js/jquery.roundabout.min.js"></script>
    <script type="text/javascript" src="js/jquery.roundabout-shapes.min.js"></script>
    <title>Agnieszka Figiel</title>
  </head>
  <body>
    <ul id="roundabout">
      <li>
        bio
      </li>
      <li>
        github
      </li>
      <li>
        linked in
      </li>
      <li>
        working with rails
      </li>
      <li>
        gild
      </li>
    </ul>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#roundabout').roundabout({
          shape : 'tearDrop',
          minScale : 0.6
        });
      });
    </script>
  </body>
</html>
