<table>
  <tr>
    <th>public repos</th>
    <td id="public_repos"></td>
  </tr>
  <tr>
    <th>public gists</th>
    <td id="public_gists"></td>
  </tr>
  <tr>
    <th>followers</th>
    <td id="followers"></td>
  </tr>
  <tr>
    <th>following</th>
    <td id="following"</td>
  </tr>
  <tr>
    <th>member since</th>
    <td id="created_at"</td>
  </tr>
</table>