<table>
  <tr>
    <th>public repos</th>
    <td id="github_public_repos"></td>
  </tr>
  <tr>
    <th>public gists</th>
    <td id="github_public_gists"></td>
  </tr>
  <tr>
    <th>followers</th>
    <td id="github_followers"></td>
  </tr>
  <tr>
    <th>following</th>
    <td id="github_following"</td>
  </tr>
  <tr>
    <th>member since</th>
    <td id="github_created_at"</td>
  </tr>
</table>