<table>
  <tr>
    <th>headline</th>
    <td id="headline"></td>
  </tr>
  <tr>
    <th>position</th>
    <td id="position"</td>
  </tr>
  <tr>
    <th>skills</th>
    <td id="skills"</td>
  </tr>
</table>