<table>
  <tr>
    <th>headline</th>
    <td id="linkedin_headline"></td>
  </tr>
  <tr>
    <th>position</th>
    <td id="linkedin_position"</td>
  </tr>
  <tr>
    <th>skills</th>
    <td id="linkedin_skills"</td>
  </tr>
</table>