<table>
  <tr>
    <th>authority</th>
    <td id="wwr_authority"></td>
  </tr>
  <tr>
    <th></th>
    <td id="wwr_authority_items"></td>
  </tr>
  <tr>
    <th>popularity</th>
    <td id="wwr_popularity"</td>
  </tr>
  <tr>
    <th>ranking</th>
    <td id="wwr_ranking"</td>
  </tr>
  <tr>
    <th>experience</th>
    <td id="wwr_experience"</td>
  </tr>
</table>