<table>
  <tr>
    <th>authority</th>
    <td id="authority"></td>
  </tr>
  <tr>
    <th></th>
    <td id="authority_items"></td>
  </tr>
  <tr>
    <th>popularity</th>
    <td id="popularity"</td>
  </tr>
  <tr>
    <th>ranking</th>
    <td id="ranking"</td>
  </tr>
  <tr>
    <th>experience</th>
    <td id="experience"</td>
  </tr>
</table>